@import url('https://fonts.googleapis.com/css?family=Archivo:700|Quicksand:300');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Quicksand';
  background:#fafafa
}


a,
*[class^="MuiListItem-button"]{
  text-decoration: none;
  outline:none !important;
}